<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
    <link rel="stylesheet" href="assets/styles/style.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>{{ title }}</title>
</head>
<body data-aside-content class="aside-closed">
    <div class="shade"></div>
    {{> aside-exporter}}
    {{> header-exporter}}
    {{> notifications}}
    {{> body }}
    <footer>
        <div class="footer-content">
            <p>© 2023 Beansy</p>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Contacts</a></li>
                <li><p>Developed by <a href="">Webfly</a></p></li>
            </ul>
        </div>

        <script src="assets/js/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </footer>

</body>
</html>