@import "colors";
@import "fonts";

body.auth {
    display: flex;
    flex-direction: column;

    header {
        position: relative !important;
        width: 100vw;
        left: 0;
    }

    .main {
        flex: 1 1 0;
    }
}

body:has(.aside-main) {
    display: grid;
    grid-template-columns: 24px 330px 1fr;
    grid-template-rows: 96px 1fr min-content;

    transition: grid .2s ease;
    height: 100vh;

    &.dashboard-page {
        grid-template-columns: 24px 330px 1fr 0;

        .notifications-popup {
            position: fixed;
            top: 96px;
            right: 0;
            height: calc(100vh - 96px);
            width: 444px;

            @media (max-width: 1600px) {
                top: 90px;
            }
            @media (max-width: 1100px) {
                top: 74px;
            }
            @media (max-width: $tablet) {
                top: 48px;
            }

            overflow: hidden;

            transform: translateX(100%);
        }

        header {
            grid-column: 2 / 5;
            grid-row: 1;
        }

        &.notify-opened {
            overflow: visible;
            grid-template-columns: 24px 330px 1fr 444px;

            .notifications-popup {
                transform: translateX(0);
            }
        }

        &.aside-closed {
            grid-template-columns: 24px 80px 1fr 0;
        }

        &.aside-closed.notify-opened {
            grid-template-columns: 24px 80px 1fr 444px;
        }
    }

    &.header-hidden {
        header {
            top: -96px;
        }

        .notifications-popup {
            top: 0;
            height: 100vh;
        }

        .aside-main {
            top: 0;
            height: 100vh;
        }
    }

    &:before {
        content: "";
        width: 24px;
        height: 100vh;

        position: fixed;
        top: 0;
        left: 0;

        grid-column: 1;
        grid-row: 1 / 4;

        background: url(../images/other/aside-flags.png) repeat;
        background-size: contain;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    .aside-main {
        grid-column: 2;
        grid-row: 2 / 4;
    }

    .notifications-popup {
        grid-column: unset;
        grid-row: unset;
        position: fixed;
        right: 0;
        top: 96px;
        height: calc(100vh - 96px);

        transform: translateX(100%);

        &.opened {
            transform: translateX(0);
        }

        @media (max-width: 1600px) {
            top: 90px;
            height: calc(100vh - 90px);
        }
    
        @media (max-width: 1100px) {
            top: 74px;
            height: calc(100vh - 74px);
        }
    
        @media (max-width: $tablet) {
            top: 48px;
            height: calc(100vh - 48px);
        }
    }

    &.notify-opened {
        overflow: hidden;
        .notifications-popup {
            transform: translateX(0);
        }
    }

    header {
        grid-column: 2 / 4;
        grid-row: 1;
    }

    .main {
        grid-column: 3;
        grid-row: 2;
    }

    footer {
        grid-column: 3;
        grid-row: 3;
    }

    &.aside-closed {
        grid-template-columns: 24px 80px 1fr;

        .aside-main {
            width: 80px;
            .aside-content {
                .aside-content--inner {
                    li {
                        a,
                        div {
                            display: flex;
                            justify-content: center;
                            padding-inline: 0;
    
                            >p {
                                display: none;
                            }

                            &:after {
                                display: none;
                            }
                        } 
                    } 
                }
            }
        }
    }

    @media (max-width: 1600px) {
        grid-template-columns: 24px 80px 1fr 0;

        .aside-main {
            background-color: $white;

            z-index: 4;
            overflow: visible;

            transition: width .2s ease;

            .aside-content {
                width: 80px;
                overflow: hidden;

                transition: width .2s ease;

                @media (max-width: $tablet) {
                    overflow: scroll;
                }

                .aside-content--inner {
                    .aside-link {
                        a p {
                            width: 0;

                        }
                    }

                    .aside-spoiler div:after {
                        opacity: 0;
        
                        transition: opacity .2s ease;
                    }
                } 
            } 
        }

        &:not(.aside-closed) {
            .aside-main {
                width: 330px;

                .aside-content  {
                    width: 330px;

                    .aside-content--inner {
                        .aside-link {
                            a p {
                                width: unset;
                            }
                        }

                        .aside-spoiler div:after {
                            opacity: 1;
                        }
                    } 

                    @media (max-width: $tablet) {
                        width: 100%;

                        ul li a,
                        ul li div {
                            padding: 12px;
                        }

                        ul li ul {
                            padding: 0;
                            gap: 0;
                        }
                    }
                } 
            }
        }
    }

    @media (max-width: 1600px) {
        grid-template-rows: 90px 1fr;
    }
    @media (max-width: 1100px) {
        grid-template-rows: 74px 1fr;
    }
    @media (max-width: $tablet) {
        grid-template-columns: 1fr !important;
        grid-template-rows: 48px 1fr;

        header {
            grid-column: 1 / 3;
        }
    
        .main {
            grid-column: 1 / 3;
        }

        footer {
            grid-column: 1 / 3;
        }

        &:not(.aside-closed) {
            .aside-main {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                width: 100vw;

                transform: translateX(0);

                &:before {
                    display: none;
                }

                .aside-header {
                    grid-column: 1;
                }

                .aside-content {
                    grid-column: 1;
                    grid-row: 1;
                }
            }
        }

        &.aside-closed {
            .aside-main {
                transform: translateX(-100vw);
                transition: transform .2s ease;
            }
        }
    }
}

.aside-main {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    position: fixed;
    top: 96px;
    left: 24px;

    @media (max-width: 1600px) {
        top: 90px;
    }
    @media (max-width: 1100px) {
        top: 74px;
    }
    @media (max-width: $tablet) {
        top: 48px;
    }

    height: calc(100vh - 69px);
    width: 330px;

    border-right: 1px solid $stroke-light;

    transition: all .2s ease;

    .aside-content {
        // grid-column: 2;
        // grid-row: 2;

        &--inner {
            display: flex;
            flex-direction: column;

            >li>a,
            >li>div {
                padding: 12.5px 32px;
            }

            .aside-link > a p,
            .aside-spoiler > div p {
                @extend %h6;
                color: $main;
                text-decoration: none;

                white-space: nowrap;

                transition: all .2s ease;
            }

            >li {
                position: relative;
                cursor: pointer;
                
                >a .aside-icon,
                >div .aside-icon {
                    width: 24px;
                    min-width: 24px;
                    height: 24px;
                    display: block;

                    background-color: $main;

                    transition: background-color .1s ease;
                }

                >a, >div {
                    display: grid;
                    grid-template-columns: 24px 1fr;
                    gap: 12px;
                    align-items: center;

                    transition: color .1s ease, background-color .1s ease, padding .2s ease;

                    &:hover {
                        color: $green;

                        p {
                            color: $green;
                        }

                        .aside-icon,
                        &:after {
                            background-color: $green;
                        }

                        background-color: $semitone-green;
                    }
                }

                &:after {
                    content: "";
                    width: 2px;
                    height: 51px;
                    display: block;

                    position: absolute;
                    top: 0;
                    right: 0;

                    background-color: transparent;

                    transition: background-color .2s ease;
                }

                &:has(div:hover) {
                    &:after {
                        background-color: $green;
                    }
                }
            }

            >li > a,
            >li > div {
                .aside-icon {
                    &.main-page {
                        mask-image: url(../images/icon/aside-mainPage.svg);
                    }
                    &.buy-coffee {
                        mask-image: url(../images/icon/aside-buyCoffee.svg);
                    }
                    &.sell-coffee {
                        mask-image: url(../images/icon/aside-sellCoffee.svg);
                    }
                    &.deals-finance {
                        mask-image: url(../images/icon/aside-deals&finance.svg);
                    }
                    &.balance-history {
                        mask-image: url(../images/icon/aside-balanceHistory.svg);
                    }
                    &.roster-rent-deals {
                        mask-image: url(../images/icon/aside-rosterRentDeals.svg);
                    }
                    &.beancy-cloud {
                        mask-image: url(../images/icon/aside-beansyCloud.svg);
                    }
                    &.containers {
                        mask-image: url(../images/icon/aside-containers.svg);
                    }
                    &.warehouse {
                        mask-image: url(../images/icon/aside-warehouse.svg);
                    }
                    &.partners {
                        mask-image: url(../images/icon/aside-partners.svg);
                    }
                }
            }

            .aside-spoiler {
                display: flex;
                flex-direction: column;

                div {
                    grid-template-columns: 24px 1fr 16px;

                    white-space: nowrap;

                    &:not([class]):after {
                        content: "";
                        width: 16px;
                        height: 16px;
                        display: block;
    
                        mask-image: url(../images/icon/arrow-down.svg);
                        background-color: $main;
    
                        transition: background-color .2s ease, transform .2s ease;
                    }
                }

                &:hover {
                    div:after {
                        background-color: $green;
                    }
                }

                &.opened {
                    div:after {
                        transform: scaleY(-1);
                    }
                }

                &--content {
                    display: flex;
                    flex-direction: column;
                    gap: 13px;

                    padding: 0 32px;

                    margin-block: 0;

                    &.opened {
                        margin-block: 8px;
                    }

                    max-height: 0;
                    overflow: hidden;

                    transition: all .2s ease;
                    
                    li {
                        @extend %body-big;
                        padding-left: 36px;

                        a {
                            @extend %body-big;
                            display: flex;
                            gap: 4px;
                            width: 100%;
        
                            color: $second;
                            text-decoration: none;

                            &:hover {
                                color: $green;
                            }
                        }
                    }

                    &:has(.li-secondary) {
                        li {
                            color: $main;

                            cursor:auto;
                        }

                        .li-secondary a {
                            padding-left: 24px;
                            color: $second;

                            &:hover {
                                color: $green;
                            }
                        }
                    }

                    .li-new a {
                        width: fit-content;
                        padding: 4px 16px;

                        background-color: $semitone-green;
                        border-radius: 16px;

                        color: $green;
                    }
                }
            }
        }
    }
}