// accent
$blue-dark: #0E153B;
$blue-second: #093075;
$grey-dark: #737583;
$blue: #063B99;
$blue-light: #20C1DF;
$red: #EA1F4B;
$yellow: #FED130;
$green: #23AF53;
$white: #fff;

// semitone
$semitone-grey: #CFD0D8;
$semitone-green: #E9F7EE;
$semitone-grey-light: #F9F9FA;

// text
$main: #0E153B;
$second: #7A7C8C;
$text-red: #EA1F4B;
$text-yellow: #FED130;
$text-green: #FED130;

// stroke
$stroke-light: #E7E8EB;
$stroke-dark: #0E153B;

// status
$status-red-light: #FFDCD7;
$status-green-light: #CCFCF0;
$status-blue-light: #DBEAFC;
$status-yellow-light: #FCF3C9;
$status-grey-light: #F5F5F5;
$status-red: #C22A2A;
$status-green: #4A9E94;
$status-blue: #567BC1;
$status-yellow: #C2812A;
$status-grey: #9FA1B1;

// button
$button-main: #23AF53;
$button-hover: #30D167;
$button-active: #1D8B43;
$button-disable: #CFD0D8;