@import "colors";
@import "fonts";
@import "breakpoints";
@import "buttons";

.container-settings {
    background-color: $white;
    
    padding: 0 12px;

    position: absolute;
    left: 0;
    top: 100%;

    max-height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 8px;

    opacity: 0;

    will-change: max-height;
    transition: max-height .1s ease, padding .1s ease, opacity .1s ease;

    li {
        &:last-child {
            color: $red;
        }

        &:hover {
            opacity: .7;
        }
    }

    &.right {
        left: unset;
        right: 0;
    }

    &.opened {
        max-height: unset;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid $stroke-light;
        opacity: 1;
    }

    z-index: 1000;
}

.container-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @media (max-width: $tablet) {
        margin-bottom: 24px;
    }

    &-path {
        display: flex;
        align-items: center;
        -webkit-box-orient: horizontal;
        height: 100%;
        gap: 8px;

        @media (max-width: $tablet) {
            display: grid;
            grid-template-columns: 1fr 94px 1fr;
        }
    }

    &-item {
        display: grid;
        grid-template-columns: 36px max-content;
        column-gap: 8px;

        @media (max-width: $tablet) {
            
        }

        .imgholder {
            width: 36px;
            aspect-ratio: 9 / 8;

            img {
                width: 100%;
                display: block;
                height: 100%;
                object-fit: contain;
            }
        }

        h4 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            // max-width: 33vw;
            max-width: calc((100vw - 48px - 94px - 16px - 80px) / 2);
        }

        .body {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .path-16 {
        width: 94px;
    }

    .buttons {
        display: flex;
        gap: 16px;
        align-items: center;
        flex: 1 1 0;
        justify-content: right;

        @media (max-width: $desktop-small) {
            justify-content: left;
        }

        @media (max-width: $tablet) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 8px;

            .big-button:last-child{
                grid-row: 1;
            }

            a {
                width: 100%;
                text-align: center;
            }
        }
    }

    @media (max-width: $desktop-small) {
        flex-direction: column;
        gap: 8px;
    }
}

.container-status {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    margin-bottom: 40px;

    @media (max-width: $tablet) {
        gap: 16px;

        margin-bottom: 24px;
    }

    .mobile-status-btn {
        @media (min-width: $tablet) {
            display: none;
        }

        position: relative;
        
        height: 48px;
        background-color: $status-green-light;
        border-radius: 8px 0 0 8px;
        padding: 12px 16px;
        color: $status-green;

        width: calc(100% - 24px);

        display: flex;
        justify-content: space-between;

        transition: transform .2s ease;

        &:hover {
            transform: scale(1.03);
        }

        &:after {
            content: "";
            width: 34px;
            height: 34px;
            display: block;

            position: absolute;
            top: calc(50% - 17px);
            left: calc(100% - 17px);

            transform: rotate(45deg);
            clip-path: polygon(0 0, 100% 100%, 100% 0);
            border-radius: 0 8px 0 0;

            background-color: $status-green-light;
        }

        &:before {
            content: "";
            position: absolute;
            top: calc(50% - 10px);
            right: 8px;

            width: 20px;
            height: 20px;

            mask-image: url(../images/icon/arrow-down.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            background-color: $status-green;
        }
    }

    .container-tracking {
        display: flex;
        flex-wrap: nowrap;
        gap: 28px;

        .mobile-status-info,
        .mobile-status-close {
            @media (min-width: $tablet) {
                display: none;
            }
        }

        @media (max-width: 1300px) {
            overflow-x: auto;
            width: calc(100vw - 144px);
        }

        @media (max-width: $tablet) {
            position: fixed;
            bottom: 0;
            left: 0;

            width: 100vw;
            max-height: 0;
            overflow: hidden;
            padding: 0 12px;
            background-color: $white;
            border-radius: 16px 16px 0 0;
            z-index: 10;

            display: flex;
            flex-direction: column;
            gap: 16px;

            transition: max-height .2s ease, padding .2s ease;

            // &.active {
            //     padding: 16px 12px;
            // }

            .mobile-status-info {
                position: relative;
                margin-top: 16px;
            }

            .mobile-status-close {
                position: absolute;
                right: 12px;
                top: 16px;

                width: 20px;
                height: 20px;

                mask-image: url(../images/icon/close-red.svg);
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: $red;
                
                z-index: 11;
            }
        }

        &::-webkit-scrollbar {
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            background-color: $white;
            
        }

        &::-webkit-scrollbar-thumb {
            background-color: $status-green;
            border-radius: 20px;
            border: 4px solid $white;
        }

        li {
            position: relative;
            width: 100%;
            min-width: 192px;
            height: 56px;
            padding: 16px 0 16px 28px;
            text-align: center;
            white-space: nowrap;

            background-color: $status-green-light;
            color: $status-green;

            transform: scale(1);

            will-change: transform;

            transition: transform .2s ease, background-color .1s ease, color .1s ease;

            cursor: pointer;

            @media (max-width: $tablet) {
                width: calc(100% - 28px);

                &.active {
                    box-shadow: 2px 2px 0 0 $status-green inset, 
                                2px -2px 0 0 $status-green inset,
                                4px 4px 0 0 $white inset, 
                                4px -4px 0 0 $white inset;

                                &:after {
                                    box-shadow: -2px 2px 0 0 $status-green inset, 
                                                -4px 4px 0 0 $white inset;
                                }
                }

                &:last-child {
                    margin-bottom: 16px;
                }

                &:after {
                    content: "";
                    width: 40px;
                    height: 40px;
                    display: block;

                    position: absolute;
                    top: calc(50% - 20px);
                    left: calc(100% - 20px);

                    transform: rotate(45deg);
                    clip-path: polygon(0 0, 100% 100%, 100% 0);
                    border-radius: 0 8px 0 0;

                    background-color: $status-green-light;
                }
            }

            &:hover {
                @media (min-width: $tablet) {
                    transform: scale(1.03);
                    background-color: $status-green-light !important;
                    color: $status-green !important;
                }
            }

            &:not(:last-of-type) {
                &:after {
                    content: "";
                    width: 40px;
                    height: 40px;
                    display: block;

                    position: absolute;
                    top: calc(50% - 20px);
                    left: calc(100% - 20px);

                    transform: rotate(45deg);
                    clip-path: polygon(0 0, 100% 100%, 100% 0);
                    border-radius: 0 8px 0 0;

                    background-color: $status-green-light;
                }
            }

            &:not(:first-of-type) {
                @media (min-width: $tablet) {
                    &:before {
                        content: "";
                        width: 40px;
                        height: 40px;
                        display: block;
    
                        position: absolute;
                        top: calc(50% - 20px);
                        right: calc(100% - 20px);
    
                        transform: rotate(45deg);
                        clip-path: polygon(0 0, 100% 100%, 100% 0);
                        border-radius: 0 8px 0 0;
    
                        background-color: $white;
                    }
                }
            }
        }

        li.active ~ li {
            background-color: $status-grey-light;
            color: $status-grey;

            &:after {
                background-color: $status-grey-light;
            }

            // &:before {
            //     background-color: $white;
            // }
        }

        li:first-of-type {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        li:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        li {
            @media (max-width: $tablet) {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            &.active {

            }
        }
    }    
}

.container-detail {
    border: 1px solid $stroke-light;
    border-radius: 16px;
    padding: 32px;

    margin-bottom: 40px;

    @media (max-width: $tablet) {
        border: 0;
        border-radius: 0;
        padding: 0;
    }

    &-header {
        display: flex;
        align-items: center;

        margin-bottom: 48px;

        @media (max-width: $desktop-small) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            margin-bottom: 24px;
        }

        h2 {
            margin-right: 48px;
        }

        .container-detail-progressbar {
            display: flex;
            gap: 16px;
            align-items: center;

            .progressbar-bg {
                width: 30vw;
                height: 16px;
                display: block;

                background-color: $semitone-green;
                border-radius: 8px;
                overflow: hidden;

                .progressbar {
                    width: 0%;
                    height: 16px;
                    border-radius: 8px;
                    background-color: $green;
                }
            }

            @media (max-width: $tablet) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2px;

                h5 {
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                }

                .progressbar-bg {
                    grid-column: 1 / 3;
                    grid-row: 2;

                    width: calc(100vw - 48px);
                    height: 8px;

                    .progressbar {
                        width: 0%;
                        height: 8px;
                        border-radius: 4px;
                        background-color: $green;
                    }
                }

                p {
                    grid-column: 2;
                    grid-row: 1;

                    text-align: right;

                    font-size: 10px;
                    line-height: 16px;
                }
            }

            .body-bold {
                color: $second;
            }
        }

        a {
            display: flex;
            gap: 2px;
            align-items: center;
            justify-content: right;

            flex: 1 1 0;

            color: $green;

            &:before {
                content: "";
                width: 16px;
                min-width: 16px;
                height: 16px;

                background: url(../images/icon/plus-green.svg) no-repeat;
                background-size: contain;

                transform: rotate(0);

                transition: transform .2s ease;
            }

            &:hover {
                &:before {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &-content {
        
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 16px;

            @media (max-width: 1000px) {
                flex-direction: column;
                gap: 24px;
                align-items: flex-start;

                margin-bottom: 24px;
            }

            ul {
                display: flex;
                gap: 8px;

                li{
                    padding: 0 8px;
                    height: 70px;
                    width: 136px;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 4px;
                    border-radius: 8px;

                    background-color: $semitone-grey-light;

                    &:not(:last-child) .body:nth-child(1) {
                        color: $second;
                    }
                }

                @media (max-width: 1000px) {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr 2fr;

                    li {
                        width: 100%;
                    }

                    li:nth-child(1) {
                        grid-column: 1 / 2;
                    }

                    li:nth-child(2) {
                        grid-column: 2 / 4;
                    }

                    li:nth-child(3) {
                        grid-column: 4 / 5;
                    }

                    li:nth-child(4) {
                        grid-row: 2;
                        grid-column: 1 / 3;
                    }

                    li:nth-child(5) {
                        grid-row: 2;
                        grid-column: 3 / 5;
                    }
                }
            }
        }

        .button.third {
            margin-top: 24px;
            text-align: center;
        }
    }

    &-block {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;

        &:has(.container-detail-block-content:nth-child(3)) {
            grid-template-columns: 1fr 1fr;
            column-gap: 32px;

            h2 {
                grid-column: 1 / 3;
            }

            @media (max-width: $desktop-small) {
                grid-template-columns: 1fr;
                row-gap: 16px;

                h2 {
                    grid-column: 1;
                }
            }
        }

        &:has(.container-detail-block-content:nth-child(4)) {
            grid-template-columns: 1fr 1fr 1fr;

            h2 {
                grid-column: 1 / 4;
            }

            @media (max-width: $desktop-small) {
                grid-template-columns: 1fr;

                h2 {
                    grid-column: 1;
                }
            }
        }

        h2 {
            grid-column: 1 / 3;
        }

        + .container-detail-block {
            margin-top: 40px;

            @media (max-width: $tablet) {
                margin-top: 24px;
            }
        }

        &-content {
            padding: 32px;
            border-radius: 16px;
            border: 1px solid $stroke-light;

            @media (max-width: $tablet) {
                padding: 16px;
            }

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .body {
                        color: $second;
                    }

                    input {
                        // padding: 0;
                        // border: 0;
                        // border-radius: 0;
                        // height: unset;
                        // font-size: 16px;
                        // line-height: 24px;
                        // width: fit-content;
                        
                        // &::placeholder {
                        //     color: $main;
                        //     font-size: 16px;
                        //     line-height: 24px;
                        //     width: 100%;
                        // }
                    }
                }

                @media (max-width: $desktop-small) {
                    flex-wrap: wrap;
                    gap: 16px;
                }
            }

            .caption-header {
                color: $second;

                margin-bottom: 16px;
            }

            .user-info {
                margin-bottom: 12px;

                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            .presets-block {
                display: flex;
                flex-direction: column;
                gap: 12px;

                li {
                    display: grid;
                    grid-template-columns: 149px 1fr;
                    gap: 24px;

                    @media (max-width: $tablet) {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                    }

                    p {
                        word-wrap: normal;
                        word-break: break-all;
                    }

                    p:nth-child(1) {
                        color: $second;
                    }
                }
            }

            >a {
                margin-top: 16px;
                display: block;
            }

            .documents-list {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                justify-content: flex-start;

                margin-bottom: 16px;
            }

            .big-button {
                width: fit-content;
            }
        }
    }
}