@import "colors";
@import "fonts";
@import "breakpoints";
@import "buttons";

.container-add {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: $tablet) {
        gap: 16px;
    }

    &-section {
        padding: 32px;
        border-radius: 12px;
        border: 1px solid $stroke-light;

        &.contract {
            ul li:nth-child(1) {
                grid-column: 1 / 3;

                @media (max-width: $tablet) {
                    grid-column: 1;
                }
            }
        }

        &.price {
            ul {
                row-gap: 12px;

                li {
                    &:nth-child(1),
                    &:nth-child(2) {
                        grid-column: 1 / 3;
                    }

                    &.splited {
                        grid-column: 1 / 3;

                        display: grid;
                        grid-template-columns: 1fr 120px;
                        gap: 32px;

                        @media (max-width: $tablet) {
                            gap: 12px;
                        }
                    }
                }
            }
        }

        >ul + h4, a.caption-link + h4 {
            margin-top: 32px;
        }

        >h4 + ul, ul + a.caption-link {
            margin-top: 24px;
        }

        @media (max-width: $tablet) {
            padding: 16px;
        }

        h4 {
            margin-bottom: 24px;
        }

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px 32px;

            @media (max-width: $tablet) {
                grid-template-columns: 1fr;
                gap: 12px;
            }

            li {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .choices {
                    height: 40px;
                    border: 1px solid $stroke-light;

                    &:focus, &:hover {
                        border: 1px solid $blue-light;
                    }

                    .choices__inner {
                        border-radius: 7px !important;
                        padding: 9px 0 9px 8px !important;
                        height: 40px;

                        .choices__list {
                            .choices__item {
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 400;
                            }
                        }
                    }

                    >.choices__list {
                        border-right: 1px solid $blue-light !important;
                        border-bottom: 1px solid $blue-light !important;
                        border-left: 1px solid $blue-light !important;
                        width: calc(100% + 2px);
                        left: -1px!important;
                    }

                    &:after {
                        right: 8px !important;
                        width: 20px !important;
                        height: 20px !important;
                        margin-top: -10px !important;
                        background: url(../images/icon/arrow-line-down-grey-20.svg) no-repeat;
                    }
                }
            }
        }
    }

    &-dates {
        @media (max-width: $tablet) {
            grid-template-columns: 1fr !important;
        }
    }

    >button[type=submit], .buttons {
        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        gap: 24px;

        margin-left: auto;

        @media (max-width: $tablet) {
            gap: 8px;
        }

        button {
            margin-left: unset;

            @media (max-width: $tablet) {
                width: 100%;
            }
        }
    }
}

.upload-with-text {
    display: flex;
    gap: 40px;

    margin-top: 32px;

    .dropzone .dz-message {
        width: 644px;
        min-width: 644px;
    }

    .dropzone .dz-file-preview {
        .dz-details .dz-filename {
            max-width: 148px;
        }

        &:hover {
            .dz-details .dz-filename {
                max-width: 128px;
            }
        }
    } 

    @media (max-width: 1000px) {
        flex-direction: column;
        gap: 16px;

        .dropzone .dz-message {
            width: 100%;
            min-width: unset;
        }
    }
}

.dropzone {
    border: none !important;
    min-height: unset !important;
    padding: 0 !important;

    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 24px 16px !important;

    @media (max-width: $tablet) {
        grid-template-columns: 1fr !important;
    }

    .dz-message {
        grid-column: 1 / 4;
        grid-row: 1;
        
        width: 100%;
        
        min-height: 88px !important;
        border: 2px dashed $stroke-light !important;
        border-radius: 8px;
        padding: 32px 24px;

        font-size: 16px !important;
        line-height: 24px !important;
        font-weight: 400 !important;
        margin: 0 !important;

        transition: all .2s ease;

        cursor: pointer;

        @media (max-width: $tablet) {
            grid-column: 1 !important;
        }

        &:hover {
            .dz-button .green {
                grid-column: 1;
            }
        }

        .dz-button {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-inline: auto !important;
            margin-top: 0 !important;
            background-color: transparent;

            &:before {
                content: "";
                width: 20px;
                height: 20px;
                display: block;

                mask-image: url(../images/icon/attach.svg);
                mask-repeat: no-repeat;
                mask-size: contain;

                background-color: $main;

                transition: all .2s ease;
            }
            .green {
                font-size: 16px !important;
                line-height: 24px !important;
                font-weight: 400 !important;

                color: $green;

                transition: all .2s ease;
            }
        }
    }

    &.dz-drag-hover .dz-message {
        border: 2px dashed $blue-light !important;
        // background-color: rgba(#000000, .05);

        .dz-button:before {
            background-color: $blue-light;

            width: 24px;
            height: 24px;
        }

        .green {
            font-size: unset !important;
            font-weight: unset !important;
            color: $main;
        }
    }

    .dz-file-preview {
        position: relative;
        margin: 0 !important;
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 8px;

        .dz-image {
            display: flex;
            background: $semitone-green !important;
            border-radius: 8px !important;
            padding: 8px !important;
            width: 40px !important;
            height: 40px !important;

            &:after {
                content: "";
                width: 24px;
                height: 24px;
                display: block;

                background: url(../images/icon/file-upload.svg) no-repeat;
                background-size: contain;
            }
        }

        .dz-remove {
            content: "";
            width: 20px;
            height: 20px;
            display: block;

            position: absolute;
            top: 0;
            right: 0;

            mask-image: url(../images/icon/close.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            background-color: transparent;

            transition: background-color .2s ease;

            cursor: pointer;
        }

        .dz-details {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;

            .dz-size {
                color: $second;
            }

            .dz-filename {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                // max-width: 148px;
                max-width: 214px;

                transition: max-width .2s ease;
            }
        }

        .dz-progress {
            position: absolute;
            bottom: 0;
            left: 48px;

            width: calc(100% - 48px);
            height: 12px;

            background-color: $semitone-green;
            border-radius: 6px;

            .dz-upload {
                background-color: $green;
                border-radius: 6px;
                min-width: 12px;
                height: 12px;
                display: block;

                transition: width .1s ease;
            }
        }

        &.dz-processing .dz-details .dz-size {
            display: none;
        }

        &:not(.dz-processing) {
            opacity: .5;

            .dz-progress {
                opacity: 0;
            }
        }

        &.dz-complete {
            .dz-details .dz-size {
                display: block;
            }
            .dz-progress {
                display: none;
            }
        }

        &:hover {
            .dz-remove {
                background-color: $main;
            }

            .dz-details .dz-filename {
                // max-width: 128px;
                max-width: 194px;
            }
        }
    }

    .dz-error-message, .dz-success-mark, .dz-error-mark {
        display: none;
    }

    &.dz-started .dz-message {
        display: block !important;
    }
}