<aside class="aside-main">
    <div class="aside-content aside-closed" data-aside-content>
        <ul class="aside-content--inner">
            <li class="aside-link">
                <a href="">
                    <div class="aside-icon main-page"></div>
                    <p>Main page</p>
                </a>
            </li>
            <li class="aside-link">
                <a href="">
                    <div class="aside-icon buy-coffee"></div>
                    <p>Buy coffee</p>
                </a>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon sell-coffee"></div>
                    <p>Sell coffee</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">Producer</a></li>
                    <li><a href="">Transit</a></li>
                    <li><a href="">SPOT</a></li>
                    <li><a href="">Local office</a></li>
                    <li><a href="">Local samples</a></li>
                </ul>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon deals-finance"></div>
                    <p>Deals & Finance</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li>Active deals</li>
                    <li class="li-secondary"><a href="">With Roasters</a></li>
                    <li class="li-secondary"><a href="">With Exporter</a></li>
                    <li>Closed deals</li>
                    <li class="li-secondary"><a href="">With Roasters</a></li>
                    <li class="li-secondary"><a href="">With Exporter</a></li>
                </ul>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon balance-history"></div>
                    <p>Balance History</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">History of billing</a></li>
                    <li><a href="">History of transactions</a></li>
                </ul>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon roster-rent-deals"></div>
                    <p>Roster rent deals</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">Active</a></li>
                    <li><a href="">Closed</a></li>
                </ul>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon beancy-cloud"></div>
                    <p>Beansy Cloud</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">Production</a></li>
                    <li><a href="">SPOT<div class="notify">99</div></a></li>
                    <li><a href="">Transit</a></li>
                    <li><a href="">Producer</a></li>
                </ul>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon containers"></div>
                    <p>Containers</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">All containers</a></li>
                    <li class="li-new"><a href="">+ Add new container</a></li>
                </ul>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon warehouse"></div>
                    <p>Warehouse</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">Main SPOT Tomilino</a></li>
                    <li><a href="">Office SPOT Moscow</a></li>
                    <li><a href="">Production Moscow</a></li>
                    <li class="li-new"><a href="">+ Add new warehouse</a></li>
                </ul>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon partners"></div>
                    <p>Partners</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">Exporters</a></li>
                    <li><a href="">Roasters</a> </li>
                    <li><a href="">Find partners</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>