<aside class="aside-main">
    <div class="aside-content aside-closed" data-aside-content>
        <ul class="aside-content--inner">
            <li class="aside-link">
                <a href="">
                    <div class="aside-icon main-page"></div>
                    <p>Main page</p>
                </a>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon buy-coffee"></div>
                    <p>Coffee Offers</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">My coffee offers</a></li>
                    <li class="li-new"><a href="">+ Add coffee</a></li>
                </ul>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon deals-finance"></div>
                    <p>Deals & Finance</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li>Active deals</li>
                    <li>Closed deals</li>
                </ul>
            </li>
            <li class="aside-link" data-toggler>
                <a href="">
                    <div class="aside-icon containers"></div>
                    <p>Containers</p>
                </a>
            </li>
            <li class="aside-spoiler" data-toggler>
                <div>
                    <div class="aside-icon partners"></div>
                    <p>Partners</p>
                </div>
                <ul class="aside-spoiler--content" data-content>
                    <li><a href="">Exporters</a></li>
                    <li><a href="">Local Roasters</a> </li>
                    <li><a href="">Find partners</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>