<header>
    <div class="header-left">
        <div class="burger" data-aside-toggler></div>
        <div class="imgholder">
            <a href="/"><img src="/assets/images/logo.png" alt=""></a>
        </div>
        <div class="exchange-rate">$1= 71.5763 ₽</div>
        <div class="header-balance">
            <!-- data-before аттрибут кидает значение в бефор элемента, внимание к пробелам -->
            <p class="body-big" data-before="Balance: ">$9000</p>
            <div class="add-button caption">+ Add</div>
        </div>
        <div class="header-bonus">
            <p class="body-big" data-before="Bonus: ">1 000 USC</p>
        </div>
    </div>
    <div class="header-right">
        <div class="notifications" data-notifications-opener>
            <p>Notifications</p>
            <div class="notify">99</div>
        </div>
        <div class="personal" data-popup-opener="personal">
            <div class="imgholder">
                <!-- стоит заглушка, если нет аватарки, будет иконка -->
                <img src="/assets/images/colibri.png" alt="">
            </div>
            <p>Hummingbird</p>
        </div>
    </div>
    <div class="personal-opened" data-popup-content="personal">
        <div class="personal-content">
            <div class="exchange-rate">$1= 71.5763 ₽</div>
            <div class="header-balance">
                <!-- data-before аттрибут кидает значение в бефор элемента, внимание к пробелам -->
                <p class="body-big" data-before="Balance: ">$9000</p>
                <div class="add-button caption">+ Add</div>
            </div>
            <div class="header-bonus">
                <p class="body-big" data-before="Bonus: ">1 000 USC</p>
            </div>
             <h6>Profiles</h6>
             <a href="/" class="body">Public page</a>
             <a href="/" class="body">User data</a>
             <a href="/" class="body">Presets delivery</a>
             <a href="/" class="body">Feedbacks</a>
             <a href="/" class="body logout">Log out</a>
        </div>
     </div>
</header>