<header>
    <div class="header-left">
        <div class="burger" data-aside-toggler></div>
        <div class="imgholder">
            <a href="/"><img src="/assets/images/logo.png" alt=""></a>
        </div>
        <div class="exchange-rate">$1= 71.5763 ₽</div>
    </div>
    <div class="header-right">
        <div class="notifications" data-notifications-opener>
            <p>Notifications</p>
            <div class="notify">99</div>
        </div>
        <div class="personal" data-popup-opener="personal">
            <div class="imgholder">
                <!-- стоит заглушка, если нет аватарки, будет иконка -->
                <img src="/assets/images/colibri.png" alt="">
            </div>
            <p>Hummingbird</p>
        </div>
    </div>
    <div class="personal-opened" data-popup-content="personal">
        <div class="personal-content">
            <div class="exchange-rate">$1= 71.5763 ₽</div>
            <h6>Profiles</h6>
            <a href="/" class="body">Public page</a>
            <a href="/" class="body">User data</a>
            <a href="/" class="body">Farm info</a>
            <a href="/" class="body logout">Log out</a>
        </div>
     </div>
</header>