<div class="input-wrapper">
    <select name="" id="" class="choices">
        <option value="">ООО «Рыжий, море и лоботрясы»</option>
        <option>ООО «Рыжий, море и лоботрясы»</option>
        <option>ООО «Рыжий, море и лоботрясы»</option>
        <option>ООО «Рыжий, море и лоботрясы»</option>
    </select>
    <div class="sort-button" data-popup-opener="sort" data-shade>
        <img class="mobile" src="/assets/images/icon/sort.svg" alt="">
        <p>Sort</p>
    </div>
    <div class="popup sort" data-popup-content="sort">
        <div class="popup-header">
            <p class="h4">Sort by</p>
            <div data-popup-closer="sort"></div>
        </div>
        <form action="">
            <label>
                <input type="radio" name="sort" id="" checked>
                <p class="body-big">Default</p>
            </label>
            <label>
                <input type="radio" name="sort" id="">
                <p class="body-big">Popularity</p>
            </label>
            <label>
                <input type="radio" name="sort" id="">
                <p class="body-big">By date (new to old)</p>
            </label>
            <label>
                <input type="radio" name="sort" id="">
                <p class="body-big">By price (from expensive to cheap)</p>
            </label>
            <label>
                <input type="radio" name="sort" id="">
                <p class="body-big">Price (from cheap to expensive)</p>
            </label>
            <div class="buttons">
                <div class="button third">Reset</div>
                <div class="button">Done</div>
            </div>
        </form>
    </div>
    <div class="filter-button changed" data-popup-opener="filter" data-shade>
        <img class="mobile" src="/assets/images/icon/filter.svg" alt="">
        <p>Filter by country</p>
    </div>
    <div class="popup filter" data-popup-content="filter">
        <div class="popup-header">
            <p class="h4">Filters</p>
            <div data-popup-closer="filter"></div>
        </div>
        <form action="">
            <div class="overflow-block">
                <div class="filter-block">
                    <p class="caption">Filter</p>
                    <label class="small">
                        <input type="radio" name="filter1" id="" checked>
                        <p class="body-big">Filter</p>
                    </label>
                    <label class="small">
                        <input type="radio" name="filter1" id="">
                        <p class="body-big">Filter</p>
                    </label>
                </div>
                <div class="filter-block">
                    <p class="caption">Filter</p>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                </div>
                <div class="filter-block">
                    <p class="caption">Filter</p>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                </div>
                <div class="filter-block">
                    <p class="caption">Filter</p>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                    <label class="small">
                        <input type="checkbox" name="" id="">
                        <p class="body-big">Filter</p>
                    </label>
                </div>
            </div>
            <div class="show-more body">See all</div>
            {{>price-choose}}
        </form>
    </div>
    <form action="">
        <input class="input-search" type="search" placeholder="Search" name="" id="">
        <input class="input-search-submit" type="submit" value="">
    </form>
</div>