<div class="input-wrapper">
    <div class="sort-button" data-popup-opener="sort" data-shade>
        <p>Sort</p>
        <img class="mobile" src="/assets/images/icon/sort.svg" alt="">
    </div>
    <div class="popup sort" data-popup-content="sort">
        <div class="popup-header">
            <p class="h4">Sort by</p>
            <div data-popup-closer="sort"></div>
        </div>
        <form action="">
            <label>
                <input type="radio" name="sort" id="" checked>
                <p class="body-big">Default</p>
            </label>
            <label>
                <input type="radio" name="sort" id="">
                <p class="body-big">Popularity</p>
            </label>
            <label>
                <input type="radio" name="sort" id="">
                <p class="body-big">By date (new to old)</p>
            </label>
            <label>
                <input type="radio" name="sort" id="">
                <p class="body-big">By price (from expensive to cheap)</p>
            </label>
            <label>
                <input type="radio" name="sort" id="">
                <p class="body-big">Price (from cheap to expensive)</p>
            </label>
            <div class="buttons">
                <div class="button third">Reset</div>
                <div class="button">Done</div>
            </div>
        </form>
    </div>
    <div class="button find-partners">Find new exporters</div>
</div>