<div class="order-bg">
    <div class="order-list">
        <div class="order-list-header">
            <h4>Order list</h4>
            <a href="" class="order-list-clear">
                <p class="body-big">Clear</p>
            </a>
            <div class="order-mobile-close"></div>
        </div>
        <ul class="order-list-content">
            <li>
                <p class="caption">Бэйби Буку Анаэробная 2022</p>
                <div class="order-list-item-info">
                    {{>quantity-mini}}
                    <span>$1169.47</span>
                    <div class="order-list-item-close"></div>
                </div>
            </li>
            <li>
                <p class="caption">Таиланд Мае Ха Ян мытый</p>
                <div class="order-list-item-info">
                    {{>quantity-mini}}
                    <span>$19.47</span>
                    <div class="order-list-item-close"></div>
                </div>
            </li>
            <li>
                <p class="caption">Эфиопия Амбела Бэйби Буку анаэробная Moms Wine ферментация</p>
                <div class="order-list-item-info">
                    {{>quantity-mini}}
                    <span>$1269.47</span>
                    <div class="order-list-item-close"></div>
                </div>
            </li>
            <li>
                <p class="caption">Эфиопия Бедесса Гуте Соду анаэробная</p>
                <div class="order-list-item-info">
                    {{>quantity-mini}}
                    <span>$5169.47</span>
                    <div class="order-list-item-close"></div>
                </div>
            </li>
        </ul>
        <div class="order-list-footer">
            <div class="order-list-footer-text">
                <h6>Total</h6>
                <p class="caption">375 898 ₽</p>
                <h6>$516.47</h6>
            </div>
            <a href="" class="big-button">Confirm the order</a>
        </div>
    </div>
</div>
<div class="big-button order-mobile-btn">
    <div class="cart-icon"></div>
    <p class="cart-counter">x2</p>
    <p class="currency-ruble">375 898 ₽</p>
    <p class="currency-dollar">$516.47</p>
</div>