<div class="personal-opened" data-popup-content="personal">
   <div class="personal-content">
        <h6>Profiles</h6>
        <a href="/" class="body">Public page</a>
        <a href="/" class="body">User data</a>
        <h6>Presets</h6>
        <a href="/" class="body">Price presets</a>
        <a href="/" class="body">Payment presets</a>
        <a href="/" class="body">Contract presets</a>
        <a href="/" class="body">Shipping presets</a>
        <a href="/" class="body logout">Log out</a>
   </div>
</div>