<div class="price-choose">
    <p class="caption">По цене</p>
    <div class="price-choose-inputs" data-min="0" data-max="100000">
        <div class="input-before" data-symbol="$">
            <input class="value-from" type="number" name="" id="" value="43000" required>
        </div>
        <p class="body-big">-</p>
        <div class="input-before" data-symbol="$">
            <input class="value-to" type="number" name="" id="" value="100000" required>
        </div>
    </div>
    <div class="range-slider">
        <div class="slider-track"></div>
        <input class="range-from" type="range" min="0" value="" max="100">
        <input class="range-to" type="range" min="0" value="" max="100">
    </div>
</div>