<table class="table-big table-cloud">
    <tr>
        <th>Lot Name</th>
        <th>Quantity kg</th>
        <th>Price per kg, $</th>
        <th>Storage day</th>
        <th>Storage $</th>
        <th>Total $</th>
        <th>Roaster</th>
        <th></th>
    </tr>
    <tr>
        <td>
            <div class="table-coffee-item">
                <img src="/assets/images/other/brazil.png" alt="">
                <p>Colibri Blend Ecoagricola NAL/NAK/NMI Late harvest 2022</p>
            </div>
        </td>
        <td>1600</td>
        <td>10</td>
        <td>1</td>
        <td>3</td>
        <td>3</td>
        <td data-name="roaster">
            <div class="table-personal wrap">
                <div class="imgholder">
                    <img src="/assets/images/colibri-small.png" alt="">
                </div>
                <p>ООО «Рыжий, море и лоботрясы»</p>
            </div>
        </td>
        <td>{{>quantity}}</td>
    </tr>
    
</table>