<table class="table-big table-cloud">
    <tr>
        <th>Lot Name</th>
        <th>Quantity kg</th>
        <th>Price per kg, $</th>
        <th>Storage day</th>
        <th>Storage $</th>
        <th>Total $</th>
        <th>Roaster</th>
        <th></th>
    </tr>
    <tr>
        <td>
            {{>table-coffee-item}}
        </td>
        <td data-table-name="Quantity">1600</td>
        <td data-table-name="Price per kg">10</td>
        <td data-table-name="Storage day">1</td>
        <td data-table-name="Storage $">3</td>
        <td data-table-name="Total $">169 $</td>
        <td>
            {{>table-personal}}
        </td>
        <td>{{>quantity}}</td>
    </tr>
    <tr>
        <td>
            {{>table-coffee-item}}
        </td>
        <td data-table-name="Quantity">1600</td>
        <td data-table-name="Price per kg">10</td>
        <td data-table-name="Storage day">1</td>
        <td data-table-name="Storage $">3</td>
        <td data-table-name="Total $">169 $</td>
        <td>
            {{>table-personal}}
        </td>
        <td>{{>quantity}}</td>
    </tr>
    <tr>
        <td>
            {{>table-coffee-item}}
        </td>
        <td data-table-name="Quantity">1600</td>
        <td data-table-name="Price per kg">10</td>
        <td data-table-name="Storage day">1</td>
        <td data-table-name="Storage $">3</td>
        <td data-table-name="Total $">169 $</td>
        <td>
            {{>table-personal}}
        </td>
        <td>{{>quantity}}</td>
    </tr>
    <tr>
        <td>
            {{>table-coffee-item}}
        </td>
        <td data-table-name="Quantity">1600</td>
        <td data-table-name="Price per kg">10</td>
        <td data-table-name="Storage day">1</td>
        <td data-table-name="Storage $">3</td>
        <td data-table-name="Total $">169 $</td>
        <td>
            {{>table-personal}}
        </td>
        <td>{{>quantity}}</td>
    </tr>
    <tr>
        <td>
            {{>table-coffee-item}}
        </td>
        <td data-table-name="Quantity">1600</td>
        <td data-table-name="Price per kg">10</td>
        <td data-table-name="Storage day">1</td>
        <td data-table-name="Storage $">3</td>
        <td data-table-name="Total $">169 $</td>
        <td>
            {{>table-personal}}
        </td>
        <td>{{>quantity}}</td>
    </tr>
    
</table>